@import '_mixins.scss';
@import '_variables.scss';

.dropdown {
    @include tablet-up {
        position: relative !important;
        .meganav {
            display: flex !important;
            flex-direction: row;
            overflow: hidden;
            // move this as needed
            width: 80vw !important;
            position: absolute;
            // move this as needed
            left: 20vw;
            transform: translateX(-50%);
            z-index: 8;
            background-color: white !important;
            .dropdown-item {
                width: calc(100% / 5)!important;
                background-color: white !important;
                > a {
                    display: none;
                }
                .card {
                    padding: 10px;
                    a {
                        @include flex();
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        img {
                            object-fit: contain;
                            width: px-to-vw(130);
                            @include transition();
                        }
                        p{
                            color: black;
                            margin: 0;
                            @include transition();
                        }
                        @include transition();
                        &:hover {
                            background-color: white !important;
                            img {
                                transform: scale(1.1);
                            }
                            p{

                            }
                        }
                    }
                }
            }
        }
    }
    @include mobile {
        .meganav {
            .dropdown-item {
                .card {
                    display: none !important;
                }
            }
        }
    }
}