@function responsive-vw($medida) {
    $var: $medida * 0.08;
    @return $var + vw;
}

@function line-height($font-size, $line-spacing) {
    $var: $line-spacing / $font-size;
    @return $var;
}

@function responsive-px($min-px, $max-px, $min-vw, $max-vw) {
    @return calc(
        #{$min-px}px + (#{$max-px} - #{$min-px}) *
            ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw}))
    );
}

@mixin letter-spacing($value) {
    letter-spacing: calc(#{$value} / 1000 * 1em);
}

@mixin transition($properties: all, $duration: 300ms, $timing: ease-in-out) {
    transition: #{$properties} #{$duration} #{$timing};
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1025px) and (max-width: 1440px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1441px) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@function px-to-vw($px, $screen-width: 1920) {
    @return calc((#{$px} / #{$screen-width}) * 100vw);
}

@mixin hover() {
    @include transition();
    opacity: 1;

    &:hover {
        opacity: 0.75;
        text-decoration: none !important;
    }
}

@mixin justify-center() {
    @include flex();
    justify-content: center;
}

@mixin contain-self() {
    width: 85vw;
    margin: auto;

    @include mobile {
        width: 95vw;
    }
}

@function responsive-font($base-size, $min-factor: 0.75) {
    $min-size: $base-size * $min-factor;
    $fluid-size: ($base-size / 1080) * 100vw;
    @return clamp(#{$min-size}px, #{$fluid-size}, #{$base-size}px);
}

//-----------------------------------------------
//---------------- ARROWS MIXINS ----------------
//-----------------------------------------------

// Arrows Offer Rotator / Logobar
// assigns left and right icons as well as their font-size & dimension
// $icon-right, $icon-left: FontAwesome Code '\f053'
@mixin slick-arrow-styler(
    $icon-left,
    $icon-right,
    $font-size,
    $width,
    $height
) {
    .slick-arrow {
        text-shadow: none;
        width: auto;
        height: $height;
        width: $width;
        line-height: $height;
        text-align: center;
        &:before {
            position: relative;
            top: 1px; // adjust the height of the icon
            font-family: FontAwesome;
            font-size: $font-size;
            vertical-align: middle;
            line-height: 1;
            opacity: 1;
        }
        &.slick-prev {
            &:before {
                left: -2px;
                content: $icon-left;
            }
        }
        &.slick-next {
            &:before {
                right: -2px;
                content: $icon-right;
            }
        }
    }
}

// sets shape, color and background color to .carousel-control
// $shape can be: square | circle | none
@mixin slick-arrow-button-styler($shape, $color, $bg-color) {
    .slick-arrow {
        opacity: 1;
        background: $bg-color;
        &:before {
            color: $color;
        }
        @if $shape == circle {
            border-radius: 50%;
        } @else if $shape == square {
            border-radius: 0;
        }
    }
}

// sets hover state for .carousel-control
@mixin slick-arrow-button-hover-styler($color, $bg-color) {
    .slick-arrow {
        &:hover,
        &:active,
        &:focus {
            background: $bg-color;
            &:before {
                color: $color;
            }
        }
    }
}

// sets position to arrows, left - right
@mixin slick-arrow-position($pos-left, $pos-right) {
    .slick-arrow {
        &.slick-prev {
            left: $pos-left !important;
        }
        &.slick-next {
            right: $pos-right !important;
        }
    }
}
