@import '_mixins.scss';
.header {
    .fixed-navbar {
        top: 0;
        left: 0;
        position: fixed !important;
        width: 104vw !important;
        transform: translateX(-2vw);
        padding-top: 0px !important;
        z-index: 2;
        &:before {
            display: none !important;
        }

    }
}