#hours {
    .col-md-4.col-lg-3 {
        width: 100% !important;

        .panel {
            background-color: transparent;
            border: none;
            .panel-heading {
                display: none;
            }
            .panel-body {
                padding: 0;
                .timeTitle {
                    color: $yellow;
                    font: bold 21px/29px 'Zilla Slab', serif;
                    text-transform: uppercase;
                }
                .hours{
                    color: white;
                }
            }
        }
    }
}