#hours {
    .col-md-4.col-lg-3 {
        width: auto !important;
        .panel {
            background-color: transparent;
            border: none;
            .panel-heading {
                display: none;
            }
            .panel-body {
                @include flex();
                flex-direction: column;
                padding: 0;
                .timeTitle {
                    color: white;
                    // font: bold 21px/29px 'Zilla Slab', serif;
                    text-transform: uppercase;
                }
                .hours {
                    color: white;
                }
            }
        }
    }
}

.hours-list {
    @include flex();
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    li {
        @include flex();
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        color: white;
        // font: 400 responsive-font(16) 'Roboto Condensed';
        span {
            margin-right: 1vw;
            // width: 2vw;
            white-space: nowrap;
        }

        @include tablet {
            width: 90%;
        }
    }
}
