@import '_mixins.scss';
@import '_variables.scss';
.footer {
    padding-bottom: 0 !important;
    .ari-row {
        &.first-row {
            background-color: #2b2433;
            padding: 5vh 0;
            @include flex();
            flex-direction: row;
            justify-content: center;
            @include mobile {
                flex-direction: column;
                gap: 2vh 0;
            }
            .ari-column {
                width: calc(100% / 5);
                @include flex();
                justify-content: center;
                @include mobile {
                    width: 100%;
                }
                h4 {
                    color: white;
                    font: 700 responsive-font(21) 'Montserrat';
                    text-transform: uppercase;
                    font-style: italic;
                    @include tablet {
                        font-size: px-to-vw(21);
                    }
                }
                a {
                    color: white;
                    font: 700 responsive-font(14) 'Montserrat';
                    font-style: italic;
                    text-transform: uppercase;
                    @include transition();
                    &:hover {
                        text-decoration: none;
                        color: $orange;
                    }
                    @include tablet {
                        font-size: px-to-vw(14);
                    }
                }

                &.a {
                    .component {
                        @include flex();
                        flex-direction: column;
                        gap: 1vh;
                        a {
                            font-weight: 400;
                            i {
                                color: orange;
                            }
                        }
                    }
                }

                &.b {
                    .hours-list {
                        color: white;
                        text-transform: uppercase;
                        white-space: nowrap;
                        font: 700 responsive-font(14) 'Montserrat';
                        li {
                            width: 100%;
                            @include flex();
                            flex-direction: row;
                            justify-content: start;
                            gap: 1vw;
                        }
                        span {
                            font-weight: 400;
                            width: 50%;
                        }
                        @include tablet {
                            font-size: px-to-vw(14);
                        }
                    }
                }

                &.c {
                    a::before {
                        content: '\f04b';
                        font-family: 'FontAwesome';
                        font-style: normal;
                        color: $blue;
                        margin-right: 1vw;
                    }
                }

                &.d {
                    a,
                    i,
                    span {
                        font-style: normal;
                        font-size: responsive-font(24);
                    }
                    a {
                        margin-right: 1vw;
                    }
                }
                &.e {
                    img {
                        width: 100%;
                        object-fit: scale-down;
                    }
                }
            }
        }
        &.dealerspike {
            background-color: black;
            padding: 2vh 0;
            .ari-column {
                .component {
                    @include flex();
                    flex-direction: row;
                    justify-content: space-evenly;
                    @include mobile {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2vh 0;
                    }

                    .text {
                        order: 1;
                        color: white;
                        // font: 400 responsive-font(16) 'Poppins';
                        @include mobile {
                            text-align: center;
                            order: 3;
                        }
                    }
                    .site-links {
                        order: 2;
                        @include flex();
                        flex-direction: row;
                        gap: 2vw;
                        text-align: center;
                        color: white;
                        a {
                            color: white;
                            text-align: center;
                        }
                        // font: 400 responsive-font(16) 'Poppins';
                    }
                    .dealerspike-logo {
                        order: 3;
                        @include mobile {
                            order: 1;
                        }
                        img {
                            object-fit: contain;
                            max-width: 280px;
                        }
                    }
                }
            }
        }
    }
}
