@import '_mixins.scss';
@import '_variables.scss';
.header {
    .ari-row {
        .ari-column {
            .top-row {
                background-image: url('https://published-assets.ari-build.com/Content/Published/Site/37415/images/header-bg.png');
                background-size: cover;
                background-position: center;
                @include flex();
                padding: 2vh 0;
                .ari-column {
                    @include flex();
                    justify-content: center;
                    align-items: center;
                    &.a {
                        @include mobile {
                            display: none;
                        }
                        .component {
                            .address {
                                @include flex();
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                i {
                                    font-size: responsive-font(37);
                                    color: $red;
                                }
                                a {
                                    color: white;
                                    font: 700 responsive-font(14) 'Ubuntu';
                                    @include transition();
                                    &:hover {
                                        color: $red;
                                        text-decoration: none;
                                    }
                                }
                            }
                            h3 {
                                color: white;
                                font: 400 responsive-font(21) 'Rye';
                                text-transform: uppercase;
                                text-align: center;
                            }
                        }
                    }
                    &.b {
                        @include mobile {
                            width: 100%;
                        }
                        img {
                            object-fit: contain;
                            width: responsive-font(200);
                            @include mobile {
                                width: 50%;
                            }
                        }
                    }
                    &.c {
                        @include mobile {
                            display: none;
                        }
                        .component {
                            @include flex();
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .connect {
                                @include flex();
                                flex-direction: row;
                                gap: 1vw;
                                span {
                                    color: white;
                                    font: 700 responsive-font(14) 'Ubuntu';
                                    text-transform: uppercase;
                                }
                                a > span,
                                i {
                                    color: white;
                                    font-size: responsive-font(18);
                                    @include transition();
                                    &:hover {
                                        color: $red;
                                        text-decoration: none;
                                    }
                                }
                            }
                            h3 {
                                color: white;
                                font: 400 responsive-font(21) 'Rye';
                                text-transform: uppercase;
                                text-align: center;
                            }
                            .phone {
                                color: white;
                                font: 400 responsive-font(18) 'Rye';
                                @include transition();
                                &:hover {
                                    color: $red;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .bottom-row {
                background-image: linear-gradient(
                    to bottom,
                    #5b5b5b,
                    #a4a4a4,
                    #5b5b5b
                );
                .component {
                    background-color: transparent;
                    .navbar-collapse {
                        background-color: transparent;
                        .navbar-nav {
                            li {
                                .root-link {
                                    white-space: nowrap;
                                    color: white;
                                    font: 400 responsive-font(16) 'Ubuntu';
                                    @include transition();
                                    &:hover {
                                        background-color: black;
                                    }
                                }

                                .dropdown-menu {
                                    width: auto;
                                    li {
                                        a {
                                            background-color: black;
                                            color: white;
                                            text-transform: uppercase;
                                            font: 400 responsive-font(16)
                                                'Ubuntu';
                                            @include transition();
                                            &:hover {
                                                background-color: $red;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .navbar-header {
                        display: none;
                        @include mobile {
                            @include flex();
                            flex-direction: row;
                            width: 100%;
                            justify-content: center;
                        }
                        background-color: transparent;
                        button {
                            align-self: flex-end;
                            span {
                                background-color: white;
                            }
                        }
                        .menu-label {
                            @include flex();
                            align-items: center;
                            p {
                                color: white;
                                font: 400 responsive-font(30) 'Ubuntu';
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
