@import '_mixins.scss';
@import '_variables.scss';
.testimonials {
    padding: 5vh 0;
    background-color: #692b10;

    .ari-row {
        .ari-column {
            h2 {
                color: white;
                text-transform: uppercase;
                font: 400 responsive-font(45) 'Rye';
                text-align: center;
            }
        }
    }
}
